
:root{
    --slate-gray: #738290ff;
  --wild-blue-yonder: #a1b5d8ff;
  --baby-powder: #fffcf7ff;
  --nyanza: #e4f0d0ff;
  --tea-green: #c2d8b9ff;
  
  }
  
  html{
    font-size:1.25rem;
    color: var(--baby-powder);
  }
  body{
    display:flex;
    flex-direction:column;
    gap:30px;
    background-color: var(--slate-gray);
  }
  nav{
    min-width:155px;
    display: flex;
    flex-direction:column;
    
    align-items:center;
  }
  nav header{
    padding:25px;
  }
  nav ul{
    padding:0;
    
    margin:0;
  }
  nav ul li{
    list-style:none;
    text-align: left;
    margin:25px;
    
  }
  .nav-link{
    text-decoration: none;
    color: var(--nyanza);
    border-left: solid 4px var(--wild-blue-yonder);
    border-right: solid 4px var(--wild-blue-yonder);
    padding:5px;
    font-size:1.25rem;
  
  }
  header{
    font-weight:bold;
    font-size: 1.5rem;
    color:var(--nyanza);
  }
  section{
    color:var(--tea-green);
  }
   section code{
    background-color: var(--wild-blue-yonder);
    color: var(--baby-powder);
  }
  section p{
    font-size: 1.15rem;
    font-weight: light;
    text-indent:1.75rem;
  }
  @media only screen and (min-width: 815px) { 
  
    body{
       flex-direction: row;
    }
  
    
   }
   